<h2> Coco Bongo Club </h2>

<h3> Liste des membres </h3>
<table class="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
