Profile: <br>

First name: <p><%= @user.first_name %></p>
Last name: <p><%= @user.last_name %></p>
Email : <p><%= @user.email %></p>
<% if current_user == @user %>
  <%= link_to 'Edit my profile', edit_user_path, class: 'btn btn-secondary' %>
<% end %>
